<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create Bill">
    {% if total %}
    <h1>Total:{{total}}</h1>
    {% endif %}}
    <table>
        <tr>
            <td>Bill Number</td>
             <td>Product Name</td>
             <td>Product Quantity</td>
             <td>Ammount</td>
        </tr>
         {% for item in items %}
        <tr>

            <td>{{ item.bill_number }}</td>
             <td>{{ item.product_name }}</td>
             <td>{{ item.product_qty }}</td>
             <td>{{ item.amount }}</td>

        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'generatebill' billnum %}">Generate Bill</a>
</form>
</body>
</html>